<div class='bg-light p-5 rounded-lg m-3'>
  <h1 class='display-4'>Bem-vindo ao Portal do Nodejs</h1>
  <p class='lead'>Esta é uma página simples, desenvolvida com Node.js + Express
    + MongoDB.</p>
  <hr class='my-4' />
  <p>Aqui você poderá ler sobre as novidades do mundo da tecnologia.</p>

  {{#if user}}{{else}}
    <a
      class='btn btn-primary btn-lg'
      href='/usuarios/registro'
      role='button'
    >Crie uma conta</a>

  {{/if}}
</div>

<hr />

<h2>Postagens Recentes: </h2>

{{#each postagens}}
  <div class='card mt-4'>
    <div class='card-body'>
      <h3>{{titulo}}</h3>
      <p>{{descricao}}</p>
      <a href='/postagem/{{slug}}'><button class='btn btn-primary'>Leia Mais</button></a>
      <hr />
      <small>Categoria: {{categoria.nome}}</small><br />
      <small>{{data}}</small>

    </div>
  </div>
{{else}}
  <h5>Nenhuma Postagem</h5>
{{/each}}